body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6AA4B0;
    min-height: 100vh;
    color: white;
    padding: 20px;
}

.div-input {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 200px;
}

.botao {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #2F6D80;
    color: white;
    cursor: pointer;
}

.botao:hover {
    background-color: #224f5c;
}

.tools-lista {
    list-style-type: none;
    padding: 0;
    width: 100%;
    max-width: 400px;
    color: black;
}

.tool-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 5px 0;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tool-buttons {
    display: flex;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.edit-button{
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: #2B4560;
}

.edit-button:hover {
    background-color: #182635;
}

.edit-tool{
    display: flex;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-button{
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: green;
}

.save-button:hover {
    background-color: rgb(1, 77, 1);
}

.cancel-button{
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: red;
}

.remove-botao {
    background-color: red;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: white;
}

.cancel-button:hover {
    background-color: darkred;
}

.edit-input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.remove-botao:hover {
    background-color: darkred;
}

@media (max-width: 600px) {
    .div-input {
        flex-direction: column;
        align-items: stretch;
    }

    .input, .botao {
        width: 100%;
        margin: 5px 0;
    }

    .tools-list {
        max-width: 100%;
    }

    .tool-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .remove-button {
        align-self: flex-end;
    }
}